.slider-container {

  /* display: flex;
  gap: 10px; */
  position: relative;
  overflow: hidden;
  /* top: -60px; */
}

.slidercard {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  flex: 100%;
  /* padding: 0 60px; */
  font-size: 24px;
  margin: 10px;
  border-radius: 12px;
}

.card img {
  height: 190px;
  width: 315px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(72, 67, 67);
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  /* background: rgba(255, 255, 255, 0.8); */
  border: none;
  cursor: pointer;
  z-index: 1;
  padding: 10px 15px;
  border-radius: 50%;
}

.next {
  right: 1px;
}