.directors-section {
  background-color: rgb(226, 226, 211);
  padding-bottom: 60px;
}

.info-section {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;

}

.info-section p {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.directors-section img {
  height: 200px;
  width: 200px;
  border-radius: 10px;

}

.directors_img {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
  text-align: center;
}

.directors-img1 {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
}

.directors-img2 {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
}

.directors-img3 {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
}

.directors_img h3 {
  padding-top: 10px;
}
