footer{
  font-family:sans-serif;
}
.main_footer{
  padding-top: 60px;
  padding-left: 100px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  column-gap: 10px;
}
.company-section{
  font-family:  sans-serif;
}
.company-section img {
  width: 60px;

}
.sh-name{
  background-color: green;
  width: 40px;
  font-size: 12px;
  padding: 0 6px;
  border-radius: 10px;
  position: absolute;
  left: 110px;
}
.comp-info{
  position: absolute;
  left: 180px;
  bottom: 95px;
}
.contact-info{
  position: absolute;
  left: 110px;
  bottom: -10px;
  line-height: 27px;
}
.contact-info hr{
  margin-top: 10px;
  width: 250px;
  /* background-color: aliceblue;
  color: #f1ebeb; */
}
.comp-address{
  position: absolute;
  left: 110px;
  bottom: -75px;
  font-family:sans-serif;
  font-size: 13px;
}
.company-section .comp-name2 {
  position: absolute;
  left: 172px;
  top: 66px;
}
.nav-section{
  list-style-type: none;
  position: absolute;
  right: 500px;
  top: 66px;
  font-family: "Roboto", sans-serif;
}

.nav-section h4{
margin-bottom: 15px;
}
.nav-section li{
margin-bottom: 15px;
}
.company-service{
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  position: absolute;
  right: 250px;
  top: 66px;
}

.company-service h4{
margin-bottom: 15px;
}
.company-service li{
margin-bottom: 15px;
}
.company-Resourses{
  list-style-type: none;
  position: absolute;
  right: 100px;
  top: 66px;
  font-family: "Roboto", sans-serif;
}
.company-Resourses h4{
margin-bottom: 15px;
}
.company-Resourses li{
margin-bottom: 15px;
}

.last-footer{
  background-color: yellow;
  height: 60px;
  position: relative;
  bottom: -144px;
  font-family: sans-serif;
}
.icans2{
  display: flex;
  gap: 40px;
  position: absolute;
  right: 100px;
  top: 22px;
}
.copywrite-info{
  position: absolute;
  left: 100px;
  top: 22px;
}
